body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: rgb(0, 0, 0);
}
#board{
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-gap: 5px;
    margin: 20px;
}
.cell{
    width: 60px;
    height: 60px;
    border: 2px solid #505050;
    border-radius: 12px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.correct{
    background-color: #0a7c00;
    border: none;
}
.present{
    background-color: #ddb508;
    border: none;
}
.absent{
    background-color: #9c9c9c;
    border: none;
}
.input-container{ 
    margin-top: 20px;
}
input{
padding: 10px; font-size: 16px; width: 100px; text-align: center; 
}
button{
padding: 10px 20px; font-size: 16px; cursor: pointer; 
}